<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="/static/css/styles.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="header">
            <label>SSD Assignment - Google Drive</label>
        </div>
        <div class="google-content">
            <a class="google-login" href="/auth/login/google">Sign In With Google</a>
        </div>
    </div>
</body>

</html>